@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<h1 class="h-primary center">Our Cafe services</h1>
<div id="about" style="align-content: center">
    <div style="text-align: center">
        <div style="background-image: url('../images/logo2.jng')">

        </div>
        <h4 style="font-palette:dark">
            <b>JuicyCafe</b> – Who We Are, What We Do, and What We’ve Done
        </h4>
        <p>
            We founded JuicyCafe in January of 2012. In October 2014, not quite 3 years later, our team reached a significant milestone – the $1million sales mark; qualifying us for membership in the Envato Power Elite program.

            Who are we? How did we accomplish such a remarkable sales feat in so short a time?

            Our team consists of a graphic designer, a coder, a programmer, and a jack-of-all trades support guy. We live and work in Pakistan. We’ve worked together for a number of years, but our turning point came in 2012, when we hooked up with ThemeForest.

            We believe our accomplishments are a result of hard work, team spirit, and a determination to constantly improve upon our products.

            
            <b>Our name?</b> There’s nothing symbolic about JuicyCafe. We made it up – and we designed a logo to match.
        </p>
    </div>
</div>