@{
    ViewData["Title"] = "Our Services";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/StyleSheet.css" />
<h1 class="h-primary center">Our Cafe services</h1>
<div id="services" style="align-content: center">
    <div class="box">
        <img src="~/images/pizza.jpg" alt="abc">
        <h2 class="h-secondary centre">Food Ordering</h2>
    </div>
    <div class="box">
        <img src="~/images/logo2.png" alt="abc">
        <h2 class="h-secondary centre"> type of coffee</h2>
    </div>
    <div class="box">
        <img src="~/images/fries.jpg" alt="abc">
        <h2 class="h-secondary">Fries and fry chicken</h2>
    </div>
    <div class="box">
        <img src="~/images/zinger.jpg" alt="abc">
        <h2 class="h-secondary">Burger's</h2>
    </div>

</div>
